[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
lint = "bash -c 'autopep8 python_template tests -riv --max-line-length=119 && flake8 python_template tests --ignore=E501,W503 && pylint python_template tests --disable=C0301 && mypy python_template tests'"

[packages]

[dev-packages]
flake8 = "*"
autopep8 = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
mypy = "*"

[requires]
python_version = "3.10"
